/* Global  */

*{
    padding: 0;
    font-family: 'Lato';
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.btn{
    background-color: #50c2f8;
    color: rgb(153, 102, 204);
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(153,102,204);
    color: #50c2f8;
    transform: scale(1.05);
}


/* Header  */
.header{
    display: flex;
    max-width: 100vw;
    min-width: 100vw;
    height: 70px;
    background-color: rgba(17, 17, 17, 0.795);
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.hamburger{
    display: none;
}

.logo{
    width: 100px;
}

.logo img{
    width: 100%;
}

.nav-list{
    display: flex;
    width: 70%;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    z-index: 100;
    transition: .5s;
}

.nav-link{
    color: white;
    text-decoration: none;
    transition: .2s;
}

.current{
    color: #50c2f8;
}

#home{
    margin-bottom: 80px;
}
#about, #our-lessons , #join{
    margin-bottom: 80px !important;
    padding-top: 70px !important;
}

#home{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)) ,url(./assets/img2.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: 150px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding: 30px;
    z-index: 100;
}

#home h1{
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    font-size: 50px;
    max-width: 500px;
    text-align: center;
    margin: 40px 0;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.violet{
    color: rgb(153, 102, 204);
}

a.btn{
    display: inline-block;
    color: rgb(153, 102, 204);
    margin-left: 30px;
    padding: 10px 20px;
}


/* About  */


.about-title{
    text-align: center;
    color: rgb(153, 102, 204);

    font-size: 40px;
    margin-bottom: 40px;
    padding:10px ;
    background-color: rgba(114, 253, 1, 0.247);
    border: 2px solid white;
}



.txt{
    background-color: #50c3f885;
    padding:70px 50px;
}

.about-txt{
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    color: #222;

}


/* Tutors  */

.tutor{
    display: flex;
    max-width: 100vw;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;

}

.tutor-txt{
    margin-top: 30px;
    line-height: 35px;
}

.quote{
    color: #24b6fa;
    font-size: 20px;
    font-family: 'segoe print';
}

.brief-intro,.ul-2{
    color: rgba(0, 0, 0, 0.651);
}
.tutor1-img{
    margin-right: 70px; 
}
.tutor2-img{
    margin-left: 70px; 
}


.tutor-img img {
    width: 100%;
    border-radius: 5px;
}

.tutor-img{
    position: relative;
    z-index: -1;
    /* height: fit-content; */
}

.tutor-img::before{
    content: '';
    border: 10px solid rgb(153,102,204);
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: -2;
    top: 20px;
}

.tutor1-img::before{
    left: 20px;
}

.tutor2-img::before{
    right: 20px;
}

#about li , #our-lessons ul li{
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.651);
}

#about li::marker , #our-lessons ul li::marker{
    color: #50c2f8;
    font-weight: bold;
    font-size: 20px;
}

.name{
    color: #222;
}




/* Our Lessons  */

#our-lessons{
    padding: 0 50px;
}

.our-lessons-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.lessons , .homeschooling{
    box-shadow: 3px 3px 10px rgba(153, 102, 204, 0.637);
    width: 40%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 70px 25px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}


.lessons-title{
    margin-bottom: 20px;
    color: #24b6fa;
    font-size: 25px;
    font-weight: bold;
}

.details{
    line-height: 30px;
}


#our-lessons button{
    margin: 30px auto;
}


/* Join Us Section  */

#join{
    background:linear-gradient(rgba(0, 0, 0, 0.85) , rgba(0, 0, 0, 0.85)) ,url(./assets/join2.webp);
    background-position:center;
    background-size: cover;
    height: 70vh;
    padding: 30px 150px;
}

.join-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#93d6f5;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px 150px;
    background-attachment: fixed;
}

.join-container h1{
    line-height: 45px;
}

















/* Making The Website Responsive ON Tablet (650px - 900px  */

/* navigation bar  */
@media screen and (max-width:900px){
    .nav-list{
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #222;
    }
    .hamburger{
        display: inline-block;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        justify-content: space-between;
        align-items: flex-start;
        border: none;
        outline: none;
        z-index: 1000;
    }
    .lg-line1 , .lg-line2{
        width: 100%;
        height: 2px;
        background-color: white;
        transition: .2s;
    }
    .sh-line{
        width: 70%;
        height: 2px;
        background-color: white;
        transition: .1s;
    }
}


@media screen and (max-width:900px) and (min-width:650px){
    .nav-list{
        width: 50vw;
        padding: 150px 0;
        font-size: 25px;
    }
}
@media screen and (max-width:650px){
    .nav-list{
        width: 100vw;
        padding: 100px 0;
        font-size: 20px;
    }
}

/*  */