/* Global  */

*{
    padding: 0;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.current{
    color: #50c2f8 !important;
}

.btn{
    background-color: #50c2f8;
    color: rgb(153, 102, 204);
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
}

.btn:hover{
    background-color: rgb(153,102,204);
    color: #50c2f8;
    transform: scale(1.05);
}

/* ----------------------------------------------------------------------------  */
/* Header  */
/* ----------------------------------------------------------------------------  */
.header{

    display: flex;
    max-width: 100vw;
    min-width: 100vw;
    height: 70px;
    background-color: rgba(17, 17, 17, 0.795);
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.hamburger{
    display: none;
}

.sh-line.opened{
    width: 0px;
}
.lg-line1.opened{
    transform: rotate(45deg) translate(2px , 13px) ;
}
.lg-line2.opened{
    transform: rotate(-45deg) translateY(-10px) ;
}

.logo{
    width: 100px;
}

.logo img{
    width: 100%;
}

.nav-list{
    display: flex;
    width: 70%;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    z-index: 100;
    transition: .5s;
}

.nav-link{
    color: white;
    text-decoration: none;
    transition: .2s;
}

.fab,.fa{
    color: #0db2ff9c;
    font-size: 20px;
    margin:10px;
}

.fab:hover , .fa:hover{
    color: #0db2ff;
}


/* ----------------------------------------------------------------------------  */
/* Home Section  */
/* ----------------------------------------------------------------------------  */

#home{
    margin-bottom: 80px;
}
#about, #our-lessons , #join{

    margin-bottom: 80px !important;
    padding-top: 70px !important;
}

#home{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)) ,url(./assets/img2.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: 150px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding: 30px;
    z-index: 100;
}

#home h1{
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    font-size: 50px;
    max-width: 600px;
    text-align: center;
    margin: 40px 0;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.violet{
    color: rgb(153, 102, 204);
}

a.btn{
    display: inline-block;
    color: rgb(153, 102, 204);
    margin-left: 30px;
    padding: 10px 20px;
}

/* ----------------------------------------------------------------------------  */
/* Making The Navigation Bar And Home Responsive  */
/* ----------------------------------------------------------------------------  */

@media screen and (max-width:900px){
    .nav-list{
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 100vh;
        background-color: black;
    }
    .hamburger{
        display: inline-block;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        justify-content: space-between;
        align-items: flex-start;
        border: none;
        outline: none;
        z-index: 1000;
    }
    .lg-line1 , .lg-line2{
        width: 100%;
        height: 2px;
        background-color: white;
        transition: .2s;
    }
    .sh-line{
        width: 70%;
        height: 2px;
        background-color: white;
        transition: .1s;
    }
}


@media screen and (max-width:900px) and (min-width:650px){
    .nav-list{
        width: 50vw;
        padding: 150px 0;
        font-size: 25px;
        right: -50vw;
    }
    .tutor-txt{
        margin-top: 0;
    }
}
@media screen and (max-width:650px){
    .nav-list{
        width: 100vw;
        padding: 100px 0;
        right: -100vw;
        font-size: 20px;
    }
    .tutors{
        flex-direction: column;
    }
    .tutor{
        flex-direction: column;
    }
    .tutor2-img{
        order: 1;
    }
    .tutor-txt{
        order: 2;
    }
    .tutor-txt{
        margin-top: 80px;
    }
}

/* ----------------------------------------------------------------------------  */
/* About Section  */
/* ----------------------------------------------------------------------------  */

.about-title{
    text-align: center;
    color: rgb(153, 102, 204);
    /* font-family: 'segoe script'; */
    font-size: 40px;
    margin-bottom: 40px;
    padding:10px ;
    background-color:white;
    border: 2px solid white;
    border-radius: 5px;
}

.txt{
    background-color: #50c3f885;
    padding:70px 50px;
}

.about-txt{
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    color: black;
}

/* ----------------------------------------------------------------------------  */
/* Tutors  */
/* ----------------------------------------------------------------------------  */

.tutor{
    display: flex;
    max-width: 100vw;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;

}

.tutor-txt{
    margin-top: 30px;
    line-height: 35px;
}

.quote{
    color: #24b6fa;
    font-size: 20px;
    /* font-family: 'segoe print'; */
    margin: 30px 0;
}

.brief-intro,.ul-2{
    color: rgb(0, 0, 0);
}
.tutor1-img{
    margin-right: 70px; 
}
.tutor2-img{
    margin-left: 70px; 
}


.tutor-img img {
    width: 100%;
    border-radius: 5px;
}

.tutor-img{
    position: relative;
    z-index: -1;
    height: fit-content;
}

.tutor-img::before{
    content: '';
    border: 10px solid rgb(153,102,204);
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: -2;
    top: 20px;
}

.tutor1-img::before{
    left: 20px;
}

.tutor2-img::before{
    right: 20px;
}

#about li , #our-lessons ul li{
    margin-left: 50px;
    color: rgb(0, 0, 0);
}

#about li::marker , #our-lessons ul li::marker{
    color: #50c2f8;
    font-weight: bold;
    font-size: 20px;
}

.name{
    color: #222;
}

/* ----------------------------------------------------------------------------  */
/* Making The About Section Responsive  */
/* ----------------------------------------------------------------------------  */

@media screen and (max-width:900px) and (min-width:650px){
    .tutor-txt{
        margin-top: 0;
        margin-bottom: 0;
    }
    .tutor-img{
        margin-top: 0;
    }
}
@media screen and (max-width:650px){
    .tutors{
        flex-direction: column;
    }
    .tutor{
        flex-direction: column;
        margin-top: 50px;
    }
    .tutor2-img{
        order: 1;
    }
    .tutor-txt{
        order: 2;
    }
    .tutor-txt{
        margin-top: 80px;
    }
}

@media screen and (max-width:400px){
    .about-title{
        font-size: 30px;
    }
    .about-txt{
        font-size: 14px;
    }
    #about, #our-lessons , #join , #reviews{
        padding-top: 70px !important;
        margin-bottom: 0px !important;
    }
}

/* ----------------------------------------------------------------------------  */
/* Our Lessons Section */
/* ----------------------------------------------------------------------------  */

#our-lessons{
    padding: 0 50px;
}

.our-lessons-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item{
    border: 2px solid rgb(153, 102, 204);
    width: 40%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 70px 25px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}


.lessons-title{
    margin-bottom: 20px;
    color: #24b6fa;
    font-size: 25px;
    font-weight: bold;
}

.details{
    line-height: 30px;
}


#our-lessons button{
    margin: 30px auto;
}


/* ----------------------------------------------------------------------------  */
/* Making Our Lessons Section Responsive  */
/* ----------------------------------------------------------------------------  */


@media screen and (max-width:750px){
    .our-lessons-container{
        flex-direction: column;
    }
    .item{
        width: 90%;
        margin: 0 auto;
    }
    .item + .item{
        margin-top: 30px;
    }
}

@media screen and (max-width:400px){
    .item{
        width: 100%;
        margin: 0 auto;
    }

}


/* ----------------------------------------------------------------------------  */
/* Join Our Team Section */
/* ----------------------------------------------------------------------------  */


#join{
    background:linear-gradient(rgba(0, 0, 0, 0.85) , rgba(0, 0, 0, 0.85)) ,url(./assets/join2.webp);
    background-position:center;
    background-size: cover;
    height: 70vh;
    padding: 30px 150px;
    max-width: 100vw ;
}

.join-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#93d6f5;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px 150px;
    background-attachment: fixed;
}

.join-txt h1{
    line-height: 45px;
}



/* ----------------------------------------------------------------------------  */
/* Making Join Us Section Responsive  */
/* ----------------------------------------------------------------------------  */


@media screen and (max-width:750px){
    #join{
        padding:30px;
        margin: 70px 0;
    }
    .join-txt{
        padding: 30px ;
    }
}


/* ----------------------------------------------------------------------------  */
/* Reviews Section   */
/* ----------------------------------------------------------------------------  */

#reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 40px;
}

#reviews h1{
    margin: 35px 0;
}

.reviews-container{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.review{
    background-color: #f0f0f0;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #0db2ff;
    /* min-width: 300px; */
    margin:0 2.5vw;
    min-width: 45vw;
    height: 250px;
}


.review-img{
    width: 60px;
    height: 60px;
    background-color:#0db2ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 30px 0;
}

.review-img img{
    width: 80%;
}

.review-name{
    position: absolute;
    right: 40px;
    top: 40px;
    color: #0db2ff;
    font-weight: bold;
}

.review-txt{
    color: rgb(34, 34, 34);
    /* font-family: 'segoe print'; */
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
}

.go-left , .go-right{
    margin: 50px 0;
    font-size: 35px;
}

/* ----------------------------------------------------------------------------  */
/* Making Reviews Section Responsive  */
/* ----------------------------------------------------------------------------  */

 @media screen and (max-width:550px){

    .review{
        min-width: 90vw;
        margin:0 5vw ;
    }
    .review-txt{
        font-size: 14px;
        font-weight: bold;
    }
}



/* ----------------------------------------------------------------------------  */
/* Footer   */
/* ----------------------------------------------------------------------------  */


.footer-container{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 70px 30px 0px 30px;
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    grid-template-rows: 5fr 2fr ;
    grid-template-areas: "logo social links"
                         "logo footer footer" ;
    width: 100%;
    row-gap: 30px;
}


.logo-cont{
    grid-area: logo;
}

.footer-logo{
    width: 150px;
}

.logo-cont h1{
    color: #50c2f8;
}
.social{
    grid-area: social;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    grid-area: footer;
}

.footer-links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer-links li a{
    color: white;
    text-decoration: none;
    transition: .1s;
}

.footer-links li{
    margin-bottom: 10px;

}
.footer-links li a:hover{
    color: #0db2ff;
}

.footer-logo img{
    width: 100%;
}

.footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.644);
}

.icons{
    margin-top: 20px;
}

footer .fab , footer .fa{
    font-size: 30px;
}

.whatsapp{
    margin: 20px 0 0 0;
}

/* ----------------------------------------------------------------------------  */
/* Making The Footer Responsive  */
/* ----------------------------------------------------------------------------  */

@media screen and (max-width:550px) {
    .footer-container{
        grid-template-rows: 1fr 1fr .5fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "logo logo"
                              "social links"
                              "footer footer";
        align-content: center;
    }
}